<div class="data_container">
  <div class="data_section_header">daily stats</div>

  <!--data_summary-->
  <div class="data_summary_section">
    <ul>
      <!--data-->
      <li>
        <div class="data_box">
          <div class="data_title">revenue</div>
          <div class="data_stats"><%= @quick_stats[:revenue] ? (@quick_stats[:revenue]/100.0).to_s : "0" %></div>
        </div>
      </li>

      <!--data-->
      <li>
        <div class="data_box">
          <div class="data_title">total sale</div>
          <div class="data_stats"><%= @quick_stats[:sales] ? (@quick_stats[:sales]).to_s : "0" %></div>
        </div>
      </li>

      <!--data-->
      <li>
        <div class="data_box">
          <div class="data_title">average sale</div>
          <div class="data_stats"><%= @quick_stats[:avg_sale] ? (@quick_stats[:avg_sale]/100.0).to_s : "0" %></div>
        </div>
      </li>

      <!--data-->
      <li>
        <div class="data_box">
          <div class="data_title">items/sale</div>
          <div class="data_stats"><%= @quick_stats[:per_sale].to_i %></div>
        </div>
      </li>
    </ul>
  </div>
  <div class="clear"></div>


  <!--data_graph-->
  <div>
    <h2>Revenue</h2>
    <div class="w-full" data-controller="dashboard" data-dashboard-revenue-value="<%= @revenue_by_day.to_json %>">
      <canvas id="revenueChart"></canvas>
    </div>
  </div>
  <!--data_graph-->

  <!--un-fulfilled orders-->
  <div class="un_fulfilled_order_section">
    <h1>Recent un-fulfilled orders</h1>
    <div class="table_container">
      <table class="table_content">
        <tr>
          <th>order ID</th>
          <th>customer</th>
          <th>amount (£)</th>
          <th>address</th>
          <th># orders</th>
          <th>fulfilled</th>
          <th>created</th>
          <th>action</th>
        </tr>

        <% @not_fulfilled_orders.all.limit(5).each do |order| %>
          <tr>
            <td><%= link_to "#{order.id}", admin_order_path(order.admin, order) %></td>
            <td><%= link_to "#{order.customer_email}", admin_order_path(order.admin, order) %></td>
            <td><%= (order.total/100.0).to_s %></td>
            <td><%= order.address %></td>
            <td><%= order.order_products.all.count %></td>
            <td>
              <% if order.fulfilled.present? %>
                <div class="blue_text"><%= order.fulfilled %></div>
              <% else %>
                <div class="red_text"><%= order.fulfilled %></div>
              <% end %>
            </td>
            <td><%= order.created_at.strftime('%d %b %Y [%a], %H:%M') %></td>
            <td class="display_flex_style">
              <div><%= link_to "edit", edit_admin_order_path(order.admin, order) %></div>
              <div class="margin_hor_15px">|</div>
              <div><%= button_to "delete", admin_order_path(order.admin, order), method: :delete %></div>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <!--un-fulfilled orders-->
</div>
