<div class="right_content">
  <!--bread_crumb-->
  <div class="bread_crumb">home -> products</div>

  <!--content-->
  <h1>products <%= "[#{@products.all.count}]" %></h1>
  <div class="btn_cover"><%= link_to "new product", new_admin_product_path(current_admin), class: "btn_general" %></div>
  <div class="table_container">
    <table class="table_content">
      <tr>
        <th>product ID</th>
        <th>product</th>
        <th>image</th>
        <th>price</th>
        <th>variants</th>
        <th>total stock</th>
        <th>created</th>
        <th>action</th>
      </tr>

      <% @products.all.each do |prod| %>
        <tr>
          <td><%= link_to "#{prod.id}", prod, target: "_blank" %></td>
          <td><%= link_to "#{prod.name}", prod, target: "_blank" %></td>
          <td class="admin_product_img_cover"><%= image_tag "#{prod.image_url}" %></td>
          <td><%= prod.price %></td>
          <td><%= prod.variants.count %></td>
          <td><%= prod.stock_count %></td>
          <td><%= prod.created_at.strftime('%d %b %Y [%a]') %></td>
          <td class="display_flex_style">
            <div><%= link_to "add variant", new_variant_path(product_id: prod) %></div>
            <div class="margin_hor_15px">|</div>
            <div><%= link_to "edit product", edit_product_path(prod) %></div>
            <div class="margin_hor_15px">|</div>
            <div><%= button_to "delete", product_path(prod), method: :delete %></div>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <!--content-->
</div>
