<div class="header_cover">
  <div class="left_section">
    <div><%= link_to "App Logo", root_path, class: "header_logo" %></div>
  </div>
  <div class="right_section">
    <ul class="header_icon_ul">
      <% if user_signed_in? %>
        <div><%= link_to "sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: "icon_box_link sign_out_btn header_text" %></div>
        <li class="hide">
          <%= link_to root_path, class: "icon_box_link" do %>
            <div><span class="material-icons">smart_toy</span></div>
            <div class="header_text">AI GPTChat</div>
          <% end %>
        </li>
        <li>
          <%= link_to products_path, class: "icon_box_link" do %>
            <div><span class="material-icons">category</span></div>
            <div class="header_text">shop</div>
          <% end %>
        </li>
        <li>
          <%= link_to dashboard_user_path(current_user), class: "icon_box_link" do %>
            <div><span class="material-icons">person</span></div>
            <div class="header_text">user</div>
          <% end %>
        </li>

        <%= turbo_stream_from current_cart %>
        <li><%= render "carts/checkout_button" %></li>

        <li>
          <%= link_to cart_path, class: "icon_box_link" do %>
            <div><span class="material-icons">shopping_cart</span></div>
            <div class="header_text">cart <span>(2)</span></div>
          <% end %>
        </li>
        <li>
          <%= link_to root_path, class: "icon_box_link" do %>
            <div><span class="material-icons">home</span></div>
            <div class="header_text">home</div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
