<div id="<%= dom_id order %>">
  <div class="table_container">
    <table class="table_content">
      <tr>
        <th>customer</th>
        <th>total</th>
        <th>address</th>
        <th>fulfilled</th>
        <th>created</th>
        <th>action</th>
      </tr>

      <tr>
        <td><%= link_to "#{order.customer_email}", admin_order_path(order.admin, order) %></td>
        <td><%= order.total %></td>
        <td><%= order.address %></td>
        <td>
          <% if order.fulfilled.present? %>
            <div class="blue_text"><%= order.fulfilled %></div>
          <% else %>
            <div class="red_text"><%= order.fulfilled %></div>
          <% end %>
        </td>
        <td><%= order.created_at.strftime('%d %b %Y') %></td>
        <td class="display_flex_style">
          <div><%= link_to "edit", edit_admin_order_path(order.admin, order) %></div>
          <div class="margin_hor_15px">|</div>
          <div><%= button_to "delete", admin_order_path(order.admin, order), method: :delete %></div>
        </td>
      </tr>
    </table>
  </div>

  <div class="table_container">
    <% if order.order_products.present? %>
      <h3>ordered products [<%= order.order_products.count %>] by <u><%= order.customer_email %></u></h3>
      <table class="table_content">
        <tr>
          <th>product</th>
          <th>image</th>
          <th>price</th>
          <th>colour</th>
          <th>quantity</th>
          <th>ordered date</th>
        </tr>

        <% order.order_products.each do |prod| %>
          <tr>
            <td><%= link_to "#{prod.product.name}", product_path(prod.product), target: "_blank" %></td>
            <td class="admin_product_img_cover"><%= image_tag "#{prod.product.image_url}" %></td>
            <td><%= prod.product.price %></td>
            <td><%= prod.colour %></td>
            <td><%= prod.quantity %></td>
            <td><%= prod.created_at.strftime('%d %b %Y') %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</div>
