<div id="<%= dom_id order %>">
  <p>
    <strong>Customer email:</strong>
    <%= order.customer_email %>
  </p>

  <p>
    <strong>Fulfilled:</strong>
    <%= order.fulfilled %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= order.total %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= order.address %>
  </p>

</div>
