<%= content_tag :div, class: "ck_line_item_section", id: dom_id(cart_item) do %>
  <div class="ck_img_section width_200px"><%= image_tag cart_item.product.image_url %></div>
  <div class="ck_product_section width_200px"><%= cart_item.product.name %></div>
  <div class="ck_price_section width_200px"><%= "£#{cart_item.product.price}" %></div>

  <div class="ck_action_buttons">
    <div class="ck_mini_button ck_plus_button">+</div>
    <div class="ck_amount">XXX</div>
    <div class="ck_mini_button ck_minus_button">-</div>
  </div>

  <div class="ck_remove_section width_200px"><%= button_to "remove",
                                                           carts_remove_path,
                                                           params: {product: cart_item.product},
                                                           method: :delete %>
  </div>
<% end %>

