<div>
  <%= simple_form_for(@variant) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <div class="hide"><%= f.input :product_id, input_html: { value: "#{@product.id}" } %></div>
      <%= f.input :colour %>
      <%= f.input :stock %>

      <!--image-->
      <div><%= f.input :image_url %></div>
      <div>
        <%= f.hidden_field :image_var_cache %>
        <%= f.file_field :image_var %>
      </div>
      <!--image-->
    </div>

    <div class="form-actions submit_btn">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
