<div>
  <%= simple_form_for [@user, @product] do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <!--section-->
      <div class="form_fields_cover">
        <div class="form_title">input section</div>
        <div><%= f.input :name %></div>
        <div><%= f.input :image %></div>
        <div><%= f.input :image_url %></div>
        <div><%= f.input :price %></div>
      </div>
      <!--section-->

      <!--section-->
      <div class="form_category_drop_down_cover">
        <div class="form_title">category section</div>
        <div class="form_category_drop_downs">
          <div class="category_drop_field"><%= f.association :category_producttype, collection: CategoryProducttype.all.order(:name), prompt: "Please Select", label: false %></div>
          <div class="category_drop_field"><%= f.association :category_productitemtype, collection: CategoryProductitemtype.all.order(:name), prompt: "Please Select", label: false %></div>
          <div class="category_drop_field"><%= f.grouped_collection_select :category_productsubtype_id, CategoryProductitemtype.order(:name), :category_productsubtypes, :name, :id, :name, include_blank: false, prompt: "Please Select", label: false %></div>
          <div class="category_drop_field"><%= f.grouped_collection_select :category_productstyle_id, CategoryProductsubtype.order(:name), :category_productstyles, :name, :id, :name, include_blank: false, prompt: "Please Select" %></div>
        </div>
      </div>
      <!--section-->
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
