<div id="<%= dom_id product %>" data-controller="share" data-share-url-value="<%= product_url(product) %>">
  <!--section-->
  <div class="margin_bottom_15px">
    <div class="product_title">product image</div>
    <div class="product_image"><%= image_tag "#{product.image_url}" %></div>
  </div>
  <!--section-->

  <div class="margin_bottom_15px product_name_cover">
    <div class="product_title">name</div>
    <div>
      <%# product.name %>
      <%= content_tag(:div, product.name, data:{ share_target: "name" }) %>
    </div>
  </div>

  <div class="margin_bottom_15px price_cover">
    <div class="product_title">description</div>
    <div>
      <%# product.description %>
      <%= content_tag(:div, product.description, data:{ share_target: "description" }) %>
    </div>
  </div>


  <div class="margin_bottom_15px price_cover">
    <div class="product_title">price</div>
    <div>
      <%# product.price %>
      <%= content_tag(:div, product.price, data:{ share_target: "price" }) %>
    </div>
  </div>

  <div class="share_button_cover">
    <%= button_to "Share", "", data: { action: "click->share#share"} %>
    <%= content_tag(:p, "", class: "result", data: {
      share_target: "result"
    }) %>
  </div>
</div>
