<div id="<%= dom_id product %>" data-controller="share" data-share-url-value="<%= product_url(product) %>">
  <!--section-->
  <div class="margin_bottom_15px">
    <div class="product_title">product image</div>
    <div class="product_image"><%= image_tag "#{product.image_url}" %></div>
  </div>
  <!--section-->

  <!--section-->
  <div class="margin_bottom_15px product_name_cover">
    <div class="product_title">name</div>
    <div>
      <%# product.name %>
      <%= content_tag(:div, product.name, data:{ share_target: "name" }) %>
    </div>
  </div>
  <!--section-->

  <!--section-->
  <div class="margin_bottom_15px price_cover">
    <div class="product_title">description</div>
    <div>
      <%# product.description %>
      <%= content_tag(:div, product.description, data:{ share_target: "description" }) %>
    </div>
  </div>
  <!--section-->

  <!--section-->
  <div class="margin_bottom_15px price_cover">
    <div class="product_title">price</div>
    <div>
      <%# product.price %>
      <%= content_tag(:div, product.price, data:{ share_target: "price" }) %>
    </div>
  </div>
  <!--section-->

  <div class="share_button_cover">
    <%= button_to "Share", "", data: { action: "click->share#share"} %>
    <%= content_tag(:p, "", class: "result", data: {
      share_target: "result"
    }) %>
  </div>
</div>

<div class="border_content"></div>

<div>
  <div class="product_title">product variants (Customer View)</div>
  <div>
    <ul class="product_colour_ul">
      <% product.variants.each do |var| %>
        <% if var.stock.present? || var.stock > 0  %>
          <!--do something-->
          <button value="<%= var.colour %>" class="product_btn_colour"><%= var.colour %></button>
        <% elsif var.stock.nil? || var.stock == 0 %>
          <!--do something-->
          <button disabled value="<%= var.colour %>" class="product_btn_colour"><%= var.colour %></button>
        <% end %>

      <% end %>
    </ul>
  </div>
</div>