<div id="<%= dom_id product %>" data-controller="share" data-share-url-value="<%= product_url(product) %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>
  <p>
    <strong>price:</strong>
    <%= product.price %>
  </p>
  <%= content_tag(:p, "", class: "result", data: {
    share_target: "result"
  }) %>
</div>
