<div id="<%= dom_id product %>" data-controller="share" data-share-url-value="<%= product_url(product) %>">
  <!--section-->
  <div class="product_name_cover display_flex_style height_50px">
    <div class="product_title">name</div>
    <div><%= product.name %></div>
    <div class="hide"><%# content_tag(:div, product.name, data:{ share_target: "name" }) %></div>
  </div>
  <!--section-->

  <!--section-->
  <div class="margin_bottom_15px">
    <div class="product_image"><%= image_tag "#{product.image_url}" %></div>
  </div>
  <!--section-->

  <!--section-->
  <% if product.description.present? %>
    <div class="margin_bottom_15px price_cover">
      <div class="product_title">description</div>
      <div><%= product.description %></div>
      <div class="hide"><%# content_tag(:div, product.description, data:{ share_target: "description" }) %></div>
    </div>
  <% end %>
  <!--section-->

  <!--section-->
  <div class="margin_bottom_15px price_cover">
    <div class="product_title">price</div>
    <div><%= "£#{product.price}" %></div>
    <div class="hide"><%# content_tag(:div, product.price, data:{ share_target: "price" }) %></div>
  </div>
  <!--section-->

  <!--user_action_buttons-->
  <!--user_action_buttons-->







  <!--share_btn-->
  <div class="share_button_cover hide">
    <%= button_to "Share", "", data: { action: "click->share#share"} %>
    <%= content_tag(:p, "", class: "result", data: {
      share_target: "result"
    }) %>
  </div>
  <!--share_btn-->
</div>



<div class="product_variation_submit" data-controller="products" data-products-product-value="<%= product.to_json %>">
  <!--variants-->
  <div class="product_variants">
    <div>
      <ul class="product_colour_ul">
        <% product.variants.each do |var| %>
          <li>
            <div class="var_image_cover">
              <% if var.image_var.present? %>
                <%= cl_image_tag(var.image_var_url) %>
              <% else %>
                <%= image_tag "#{var.image_url}" %>
              <% end %>
            </div>
            <% if var.stock.present? && var.stock > 0  %>
              <button data-action="click->products#selectColour" value="<%= var.colour %>" class="product_btn_colour"><%= var.colour %></button>
            <% elsif var.stock.nil? || var.stock == 0 %>
              <button disabled value="<%= var.colour %>" class="product_btn_colour"><%= var.colour %></button>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <!--variants-->

  <!--add_cart-->
  <% if user_signed_in? %>
    <div class="product_submit_btn_section">
      <div id="selected-colour"></div>
      <button data-action="click->products#addToCart">add to cart</button>
    </div>
  <% end %>
  <!--add_cart-->


  <!--add_cart-->
  <% if user_signed_in? %>
    <div class="new_add_to_cart_section">new add to cart button</div>
  <% end %>
  <!--add_cart-->
</div>
<div class="border_content"></div>
