<!--<p style="color: green"><%#= notice %></p>-->

<h1>Products hello</h1>

<div id="products">
  <ul>
    <% @products.each do |product| %>
      <li class="product_item">
        <div><%= render product %></div>
        <div>
          <% if user_signed_in? %>
            <% if current_user %>
              <!--impression code-->
              <div><%= product.impressionist_count(filter: :ip_address) %> views</div>
              <!--impression code-->

              <!--favourite code-->
              <% if current_user.favorite_products.exists?(id: product) %>
                <%= link_to 'Remove from favorites', favorite_product_path(product), method: :delete, data: { "turbo-method": :delete }, id: 'fav_remove_link', remote: true %>
              <% else %>
                <%= link_to 'Add to favorites', favorite_products_path(product_id: product), method: :post, data: { "turbo-method": :post }, id: 'fav_add_link', remote: true %>
              <% end %>
              <!--favourite code-->
            <% end %>
          <% end %>
        </div>
        <p>
          <%= link_to "view", product %>
        </p>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to "New product", new_product_path %>
