<div id="products" class="left_right_content_products">
  <!--left_content_products-->
  <div class="left_content_products">
    <!--form-->
    <div class="shop_title">ecom shop</div>

    <div class="filter_search_section">
      <div class="search_title">price filter</div>
      <div>
        <%= form_with url: products_path, method: :get, class: "search_section" do |f| %>
          <%= f.number_field :min, placeholder: "min price", class: "search_input_initial" %>
          <%= f.number_field :max, placeholder: "max price", class: "search_input_later" %>

          <div class="filter_buttons_cover">
            <div><%= f.submit "Filter", class: "" %></div>
            <div class="clear_btn_cover"><%= link_to "clear", products_path, class: "clear_btn" %></div>
          </div>
        <% end %>
      </div>
    </div>


    <%= turbo_frame_tag "filtering" do %>
      <%= form_for :search, url: search_path, class: "search_section" do |f| %>
      <div class="filter_search_section">
        <div class="search_title">text search</div>
        <%= f.text_field :query, placeholder: "loreum", class: "#" %>
      </div>

      <div class="filter_search_section">
        <div class="search_title">sorting</div>
        <%= f.select :sort, [
          ["Price Low to High", :price_lth],
          ["Price High to Low", :price_htl]], {include_blank: true}, placeholder: "loreum", class: "#" %>
      </div>

      <div class="filter_search_section">
        <div class="search_title">price</div>
        <ul class="list_group">
          <li class="list_group_item">
            <div class="form_check">
              <%= f.check_box :price, { multiple: true, class: "form_check_input" }, "lt1000", nil %>
              <%= f.label :price, "< £1000", class: "form_check label" %>
            </div>
          </li>

          <li class="list_group_item">
            <div class="form_check">
              <%= f.check_box :price, { multiple: true, class: "form_check_input" }, "between1000and2500", nil %>
              <%= f.label :price, "£1000 - £2500", class: "form_check label" %>
            </div>
          </li>

          <li class="list_group_item">
            <div class="form_check">
              <%= f.check_box :price, { multiple: true, class: "form_check_input" }, "gt1000", nil %>
              <%= f.label :price, "> £2500", class: "form_check label" %>
            </div>
          </li>

        </ul>
      </div>

      <div class="filter_search_section">
        <div class="search_title">category</div>
        <div>category</div>
      </div>

        <div class="filter_buttons_cover">
          <div><%= f.submit "Filter", class: "" %></div>
          <div class="clear_btn_cover"><%= link_to "clear", products_path, class: "clear_btn" %></div>
        </div>
      <% end %>
    <% end %>

    <!--form-->
  </div>

  <!--right_content_products-->
  <div class="right_content_products">
    <ul class="listed_products">
      <% @products.each do |product| %>
        <li class="product_item">
          <!--section-->
          <div class="product_name_cover">
            <%= link_to product, class: "display_flex_style height_50px" do %>
              <div class="product_title">product name:</div>
              <div><%= product.name %></div>
            <% end %>
          </div>
          <!--section-->

          <!--section-->
          <div class="margin_bottom_15px">
            <div class="product_image"><%= link_to((image_tag "#{product.image_url}"), product) %></div>
          </div>
          <!--section-->

          <!--section-->
          <% if product.description.present? %>
            <div class="margin_bottom_15px price_cover">
              <div class="product_title">description</div>
              <div><%= product.description %></div>
            </div>
          <% end %>
          <!--section-->

          <!--section-->
          <div class="margin_bottom_15px price_cover">
            <div class="product_title">price</div>
            <div><%= "£#{product.price}" %></div>
          </div>
          <!--section-->

          <!--action_buttons-->
          <div class="products_user_actions_section">
            <% if user_signed_in? && current_user %>
              <ul>
                <!--impression code-->
                <li class="product_user_li">
                  <div><div><%= "#{product.impressions_count} views" %></div></div>
                </li>

                <!--views-->
                <li class="product_user_li">
                  <% if product.reviews.present? %>
                    <div><%= "#{product.average_rating}star (#{product.reviews.count}) reviews" %></div>
                  <% else %>
                    <div>no reviews</div>
                  <% end %>
                </li>

                <!--favourite-->
                <li class="product_user_li">
                  <div id="product-<%= product.id %>">
                    <%= render partial: 'shared/favourites', locals: { product: product} %>
                  </div>
                </li>
              </ul>
            <% end %>
          </div>
          <!--action_buttons-->
        </li>
      <% end %>
    </ul>
  </div>
</div>
