<div id="products" class="left_right_content_products">
  <!--left_content_products-->
  <div class="left_content_products">
    <div class="shop_title">ecom shop</div>

    <!--form-->
    <!--    <div class="filter_search_section">-->
    <!--      <div class="search_title">price filter</div>-->
    <!--      <div>-->
    <%#= form_with url: products_path, method: :get, class: "search_section" do |f| %>
    <%#= f.number_field :min, placeholder: "min price", class: "search_input_initial" %>
    <%#= f.number_field :max, placeholder: "max price", class: "search_input_later" %>

    <!--          <div class="filter_buttons_cover">-->
    <!--            <div><%#= f.submit "Filter", class: "" %></div>-->
    <!--            <div class="clear_btn_cover"><%#= link_to "clear", products_path, class: "clear_btn" %></div>-->
    <!--          </div>-->
    <%# end %>
    <!--      </div>-->
    <!--    </div>-->
    <!--form-->

    <!--form-->
    <%= turbo_frame_tag "filtering" do %>
      <%= form_for :search, url: search_path, class: "search_section" do |f| %>
        <!--search-->
        <div class="filter_search_section">
          <div class="search_title">text search</div>
          <%= f.text_field :query, placeholder: "loreum", class: "#" %>
        </div>
        <!--search-->
        <div class="filter_search_section">
          <div class="search_title">sorting</div>
          <%= f.select :sort, [
            ["Price Low to High", :price_lth],
            ["Price High to Low", :price_htl]], {include_blank: true}, placeholder: "loreum", class: "#" %>
        </div>
        <!--search-->
        <div class="filter_search_section">
          <div class="search_title">price</div>
          <ul class="list_group">
            <li class="list_group_item">
              <div class="form_check">
                <%= f.check_box :price, { multiple: true, class: "form_check_input" }, "lt1000", nil %>
                <%= f.label :price, "< £1000", class: "form_check_label" %>
              </div>
            </li>
            <li class="list_group_item">
              <div class="form_check">
                <%= f.check_box :price, { multiple: true, class: "form_check_input" }, "between1000and2500", nil %>
                <%= f.label :price, "£1000 - £2500", class: "form_check_label" %>
              </div>
            </li>
            <li class="list_group_item">
              <div class="form_check">
                <%= f.check_box :price, { multiple: true, class: "form_check_input" }, "gt1000", nil %>
                <%= f.label :price, "> £2500", class: "form_check_label" %>
              </div>
            </li>
          </ul>
        </div>
        <!--search-->
        <div class="filter_search_section">
          <div class="search_title">category</div>
          <ul class="list_group">
            <% CategoryProductitemtype.all.each do |category| %>
              <li class="list_group_item">
                <div class="form_check">
                  <%= f.check_box :category_id, { multiple: true, class: "form-check-input" }, category.id, nil %>
                  <%= f.label :category_id, category.name, class: "form-check-label" %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="filter_buttons_cover">
          <div><%= f.submit "Search", class: "" %></div>
          <div class="clear_btn_cover"><%= link_to "clear", products_path, class: "clear_btn" %></div>
        </div>
      <% end %>
    <% end %>
    <!--form-->
  </div>

  <!--right_content_products-->
  <%= render "products/display", products: @products %>
</div>

