<p style="color: green"><%= notice %></p>
<div class="product_item">

  <!--section-->
  <div class="margin_bottom_15px">
    <div class="product_title">product category</div>
    <span><%= @product.category_producttype.name %></span>
    <span>--></span>
    <span><%= @product.category_productitemtype.name %></span>
    <span>--></span>
    <span><%= @product.category_productsubtype.name %></span>
    <span>--></span>
    <span><%= @product.category_productstyle.name %></span>
  </div>
  <!--section-->

  <!--section-->
  <div><%= render @product %></div>
  <!--section-->

  <!--section-->
  <div>
    <% if @product.reviews.reviewer_exist?(@user, @product) %>
      <p>you have already reviewed this product</p>
    <% else  %>
      <%= link_to 'review product', new_user_review_path(@user, product_id: @product) %>
    <% end %>
  </div>
  <!--section-->

  <!--section-->
  <div>
    <div><u>product reviews:</u></div>
    <ul>
      <% @product.reviews.each do |review| %>
        <li>
          <div>review: <%= review.rating %></div>
          <div><%= review.comment %></div>
          <div><%= review.user.email %></div>
        </li><br/>
      <% end %>
    </ul>
  </div>
  <!--section-->

</div>
