<p style="color: green"><%= notice %></p>
<div class="product_item">

  <!--section-->
  <div class="margin_bottom_15px">
    <div class="product_title">product category</div>
    <span><%= @product.category_producttype.name %></span>
    <span>--></span>
    <span><%= @product.category_productitemtype.name %></span>
    <span>--></span>
    <span><%= @product.category_productsubtype.name %></span>
    <span>--></span>
    <span><%= @product.category_productstyle.name %></span>
  </div>
  <!--section-->

  <!--section-->
  <div><%= render @product %></div>
  <!--section-->

  <!--section-->
  <div class="margin_bottom_15px"><%= link_to "create variant for product", new_variant_path(product_id: @product) %></div>
  <div class="margin_bottom_15px">
    <div class="product_title">product variants</div>
    <div class="variant_cover">
      <ul>
        <% @product.variants.each do |var| %>
          <li>
            <div>
              <% if var.image_var.present? %>
                <%= cl_image_tag(var.image_var_url) %>
              <% else %>
                <%= image_tag "#{var.image_url}" %>
              <% end %>
            </div>
            <div><%= "colour: #{var.colour}" %></div>
            <div><%= link_to "edit", edit_variant_path(var, product_id: @product) %></div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <!--section-->

  <!--section-->
  <% if current_user %>
    <div class="margin_bottom_15px">
      <% if @product.reviews.reviewer_exist?(@user, @product) %>
        <p>you have already reviewed this product</p>
      <% else  %>
        <%= link_to 'review product', new_user_review_path(@user, product_id: @product) %>
      <% end %>
    </div>
  <% end %>
  <!--section-->

  <!--section-->
  <div>
    <div><u>product reviews:</u></div>
    <ul>
      <% @product.reviews.each do |review| %>
        <li>
          <div>review: <%= review.rating %></div>
          <div><%= review.comment %></div>
          <div><%= review.user.email %></div>
        </li><br/>
      <% end %>
    </ul>
  </div>
  <!--section-->

</div>
