
<%= simple_form_for [@user, @review] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="radio_cover">
      <%= f.input :rating, as: :radio_buttons, collection: [['1', '1 '], ['2', '2 '], ['3', '3 '], ['4', '4 '], ['5', '5 ']], label_method: :second, value_method: :first, class: 'star_radio_btn', label: false %>
    </div>

    <%= f.input :comment %>
    <%= f.input :user_id %>
    <%= f.input :product_id, input_html: { value: "#{@product.id}" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $('input:radio').change(function(){
            var $this = $(this);
            // Only remove the class in the specific `box` that contains the radio
            $this.closest('.box').find('radio_cover.highlight').removeClass('highlight');
            $this.closest('.q').addClass('highlight');
        });
    });
</script>
