<%= simple_form_for [@user, @review] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="radio_cover">
      <%= f.input :rating, as: :radio_buttons, collection: [['1', '1 '], ['2', '2 '], ['3', '3 '], ['4', '4 '], ['5', '5 ']], label_method: :second, value_method: :first, class: 'star_radio_btn', label: false %>
    </div>

    <%= f.input :comment %>
    <div class="hide"> class=hide<%= f.input :user_id %></div>
    <div class="hide"><%= f.input :product_id, input_html: { value: "#{@product.id}" } %></div>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

