<!DOCTYPE html>
<html>
<head>
  <title>Sample E-ComApp</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div>
  <ul>
    <% if user_signed_in?  %>
      <li><%= link_to "products", products_path %></li>
      <li><%= link_to "homepage", root_path %></li>
      <li><%= link_to "AI GPTChat", root_path %></li>
      <li><%= link_to "sign out", destroy_user_session_path, data: { turbo_method: :delete } %></li>
    <% else %>
      <li><%= link_to "sign-in", user_session_path %></li>
      <li><%= link_to "create account", new_user_registration_path %></li>
      <li><%= link_to "homepage", root_path %></li>
    <% end %>
  </ul>
</div>

<%= yield %>
</body>
</html>
