<!DOCTYPE html>
<html>
<head>
  <title>Sample E-ComApp</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
<!--<p class="notice"><%#= notice %></p>-->
<!--<p class="alert"><%#= alert %></p>-->

<div>
  <div class="header_container"><%= render 'shared/header' %></div>
 <div class="main_container"><%= yield %></div>
</div>


</body>
</html>


